{% extends 'base.html' %}

  <h1>Приветствую!</h1>

{% block style %}
  <style>
    li{
        display: inline-block;
        border: 1px solid blue;
        padding: 10px 20 px;
      }
      a{
        text-decoration: none;
        color: green;
       }
  </style>
{% endblock %}

{% block content %}
  <h2> Список Товаров </h2>

  <ul>
  {% for item in items   %}
    <li> 
      <a href="{% url 'item'  item.id %}"><u> {{ item.name }}:</u> </a> {{ item.count }} шт. 
      <br> <br>
        Описание товара: <i>{{ item.description }}
    </li>
  {%  endfor %}
  </ul>

  <br><br><br>

  <a href="/">На главную</a>

{% endblock %}
