{% extends 'base.html' %}
{% block content %}

  <h1>Товар:</h1>

  <div class="row">
  <div  >
    <div class="row">

  {% if quantity  == 0 %}
    <strong> Товар "{{ name }}" - отсутствует </strong><br><br><br>
  {% else %}
    <i>Название: </i><strong> {{ name }}. </strong><br>
    <i>Количество:</i><strong>  {{ quantity }} шт. </strong><br><br>
  {% endif %}

    </div>
    <div >
      Описание товара: <i>{{ description }}</i>
    </div>
  </div><br><br>
  </div>

  <a href="{% url 'items-list' %}">назад к списку товаров</a>

{% endblock %}
